.hamburger-button-container {
  border-width: 0px;
  border-style: solid;
  border-color: #333;
  width: 30px;
  height: 30px;
  padding: 20px;
  top: 0px;
  left: 0px;
  position: fixed;
  display: block;
  outline: none;
  cursor: pointer;
  z-index: 99999; }
  .hamburger-button-container .hamburger-button-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 4px;
    margin: 0 auto;
    width: 30px;
    background: #000;
    -moz-transition: all 0.2s ease-in-out 0.2s;
    -o-transition: all 0.2s ease-in-out 0.2s;
    -webkit-transition: all 0.2s ease-in-out;
    -webkit-transition-delay: 0.2s;
    transition: all 0.2s ease-in-out 0.2s;
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%); }
    .hamburger-button-container .hamburger-button-icon:before, .hamburger-button-container .hamburger-button-icon:after {
      position: absolute;
      content: '';
      left: 0;
      width: 100%;
      height: 100%;
      background: #000;
      -moz-transition: top 0.2s ease-in-out 0.2s, bottom 0.2s ease-in-out 0.2s, -moz-transform 0.2s ease-in-out 0s;
      -o-transition: top 0.2s ease-in-out 0.2s, bottom 0.2s ease-in-out 0.2s, -o-transform 0.2s ease-in-out 0s;
      -webkit-transition: top 0.2s ease-in-out, bottom 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
      -webkit-transition-delay: 0.2s, 0.2s, 0s;
      transition: top 0.2s ease-in-out 0.2s, bottom 0.2s ease-in-out 0.2s, transform 0.2s ease-in-out 0s; }
    .hamburger-button-container .hamburger-button-icon:before {
      top: -250%; }
    .hamburger-button-container .hamburger-button-icon:after {
      bottom: -250%; }

.hamburger-button-container:not(.close):hover .hamburger-button-icon:before {
  -moz-transform: translateX(10%);
  -ms-transform: translateX(10%);
  -webkit-transform: translateX(10%);
  transform: translateX(10%); }
.hamburger-button-container:not(.close):hover .hamburger-button-icon:after {
  -moz-transform: translateX(-5%);
  -ms-transform: translateX(-5%);
  -webkit-transform: translateX(-5%);
  transform: translateX(-5%); }

.hamburger-button-container.close .hamburger-button-icon {
  background: transparent; }
  .hamburger-button-container.close .hamburger-button-icon:before, .hamburger-button-container.close .hamburger-button-icon:after {
    -moz-transition: top 0.2s ease-in-out, bottom 0.2s ease-in-out, -moz-transform 0.2s ease-in-out 0.2s;
    -o-transition: top 0.2s ease-in-out, bottom 0.2s ease-in-out, -o-transform 0.2s ease-in-out 0.2s;
    -webkit-transition: top 0.2s ease-in-out, bottom 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
    -webkit-transition-delay: 0s, 0s, 0.2s;
    transition: top 0.2s ease-in-out, bottom 0.2s ease-in-out, transform 0.2s ease-in-out 0.2s; }
  .hamburger-button-container.close .hamburger-button-icon:before {
    top: 0;
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); }
  .hamburger-button-container.close .hamburger-button-icon:after {
    bottom: 0;
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg); }

body {
  position: relative !important; }

#hamburger-menu-container {
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  height: 100vh;
  background: #34495E;
  color: #fff;
  width: 100%;
  max-width: 350px;
  overflow: hidden; }
  #hamburger-menu-container #hamburger-menu-wrapper {
    height: 100%;
    width: 100%;
    overflow: scroll;
    overflow-x: hidden;
    box-sizing: content-box;
    padding-right: 30px; }
    #hamburger-menu-container #hamburger-menu-wrapper > * {
      box-sizing: border-box; }
  #hamburger-menu-container #hamburger-menu > ul, #hamburger-menu-container #hamburger-menu > ul > li {
    margin: 0 !important; }
  #hamburger-menu-container #hamburger-menu-wrapper > * {
    width: 350px;
    padding: 15px 0; }
    #hamburger-menu-container #hamburger-menu-wrapper > *:first-child {
      padding-top: 30px; }
    #hamburger-menu-container #hamburger-menu-wrapper > *:last-child {
      padding-bottom: 30px; }
  #hamburger-menu-container #hamburger-logo-container a {
    display: block; }
  #hamburger-menu-container #hamburger-logo-container img {
    margin-left: 50%;
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%); }
  #hamburger-menu-container #hamburger-social-container {
    box-sizing: border-box;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center; }
  #hamburger-menu-container #hamburger-widget-container > * {
    margin: 0 !important;
    padding: 15px 30px; }
    #hamburger-menu-container #hamburger-widget-container > *:first-child {
      padding-top: 0; }
    #hamburger-menu-container #hamburger-widget-container > *:last-child {
      padding-bottom: 0; }
  #hamburger-menu-container #hamburger-widget-container input, #hamburger-menu-container #hamburger-widget-container textarea, #hamburger-menu-container #hamburger-widget-container iframe, #hamburger-menu-container #hamburger-widget-container embed {
    max-width: 100%; }
  #hamburger-menu-container #hamburger-widget-container img {
    max-width: 100%;
    height: auto; }
  #hamburger-menu-container .hamburger-menu {
    padding-left: 0; }
    #hamburger-menu-container .hamburger-menu li {
      padding: 15px 30px;
      border-top: 1px solid #2C3E50;
      color: #D2527F; }
      #hamburger-menu-container .hamburger-menu li:last-child {
        border-bottom: 1px solid #2C3E50; }

#hamburger-menu-container {
  -moz-transition: -moz-transform 0.6s ease-in-out;
  -o-transition: -o-transform 0.6s ease-in-out;
  -webkit-transition: -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out;
  -moz-transform: translateX(-350px);
  -ms-transform: translateX(-350px);
  -webkit-transform: translateX(-350px);
  transform: translateX(-350px); }

#hamburger-menu-container.open {
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -webkit-transform: translateX(0px);
  transform: translateX(0px); }

#hamburger-button {
  -moz-transition: -moz-transform 0.6s ease-in-out;
  -o-transition: -o-transform 0.6s ease-in-out;
  -webkit-transition: -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out; }

#hamburger-button.close {
  -moz-transform: translateX(350px);
  -ms-transform: translateX(350px);
  -webkit-transform: translateX(350px);
  transform: translateX(350px); }

#hamburger-content-wrapper {
  -moz-transition: -moz-transform 0.6s ease-in-out;
  -o-transition: -o-transform 0.6s ease-in-out;
  -webkit-transition: -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out;
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  transform: translateX(0); }

html.hamburger_open body:before, html.hamburger_open body:after, html.hamburger_open #hamburger-content-wrapper {
  -moz-transform: translateX(100px);
  -ms-transform: translateX(100px);
  -webkit-transform: translateX(100px);
  transform: translateX(100px); }

html.slide-fixed.hamburger_open body:before, html.slide-fixed.hamburger_open body:after, html.slide-fixed.hamburger_open #hamburger-content-wrapper {
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  transform: translateX(0); }

html.slide-move-whole.hamburger_open body:before, html.slide-move-whole.hamburger_open body:after, html.slide-move-whole.hamburger_open #hamburger-content-wrapper {
  -moz-transform: translateX(350px);
  -ms-transform: translateX(350px);
  -webkit-transform: translateX(350px);
  transform: translateX(350px); }

/**
 * Animation required styles
 */
html.hamburger_open {
  overflow-x: hidden; }

body:before, body:after {
  -moz-transition: -moz-transform 0.6s ease-in-out;
  -o-transition: -o-transform 0.6s ease-in-out;
  -webkit-transition: -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out; }

/**
 * Fixed menu required styles
 */
html.hamburger_fixed #hamburger-content-wrapper {
  margin-left: 350px; }
html.hamburger_fixed #hamburger-menu-container {
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  transform: translateX(0); }
html.hamburger_fixed #hamburger-button {
  display: none !important; }

#hamburger-overlay {
  width: 0;
  height: 0;
  position: absolute;
  z-index: 99998;
  left: 0;
  top: 0;
  -moz-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
  opacity: 0;
  background: #000;
  cursor: pointer; }

.hamburger_open #hamburger-overlay {
  width: 100%;
  height: 100%;
  opacity: 1; }

body.admin-bar {
  margin-top: -32px; }

body.admin-bar .hamburger-button-container {
  margin-top: 32px; }

/**
 * Only apply these fixes if the current theme is twenty-fifteen
 */
html.hamburger_fixed body:before {
  margin-left: 350px; }

@media screen and (min-width: 87.6875em) {
  html.hamburger_fixed body:before {
    width: -webkit-calc(45% - 350px);
    width: calc(45% - 350px); } }
@media screen and (min-width: 59.6875em) {
  html.hamburger_fixed body:before {
    width: 21%; } }
