@import "compass/css3/transition";
@import "compass/css3/transform";

$barThickness: 4px;
$size: 30px;
$padding: 20px;
$barColor: #000;
//$backgroundColor: #fff;
.hamburger-button-container {
  border-width: 0px;
  border-style: solid;
  border-color: #333;
  width: $size;
  height: $size;
  padding: $padding;
//  background: $backgroundColor;
  top: 0px;
  left: 0px;
  position: fixed;
  display: block;
  outline: none;
  cursor: pointer;
  z-index: 99999;
  .hamburger-button-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    height: $barThickness;
    margin: 0 auto;
    width: $size;
    background: $barColor;
    @include transition(all .2s ease-in-out .2s);
    @include transform(translateX(-50%) translateY(-50%));
    &:before, &:after {
      position: absolute;
      content: '';
      left: 0;
      width: 100%;
      height: 100%;
      background: $barColor;
      @include transition(top .2s ease-in-out .2s, bottom .2s ease-in-out .2s, transform .2s ease-in-out 0s);
    }
    &:before {
		@include transform(translateY(-300%));
    }
    &:after {
		@include transform(translateY(300%));
    }
  }
}

// Only do this for big screens since the transform may get stuck in the hovered state
@media screen and (min-width: 787px) {
	.hamburger-button-container:not(.close):hover {
	  .hamburger-button-icon {
	    &:before {
	      @include transform(translateY(-300%) translateX(10%));
	    }
	    &:after {
	      @include transform(translateY(300%) translateX(-5%));
	    }
	  }
	}
}

.hamburger-button-container.close {
  .hamburger-button-icon {
    background: transparent;
    &:before, &:after { 
      @include transition(top .2s ease-in-out, bottom .2s ease-in-out, transform .2s ease-in-out .2s);
    }
    &:before {
      @include transform(rotate(45deg));
    }
    &:after {
      @include transform(rotate(-45deg));
    }
  }
}

.hamburger-left #hamburger-button {
	right: auto !important;
}
.hamburger-right #hamburger-button {
	left: auto !important;
}