// Animation required styles
#hamburger-menu-container {
	@include transition(transform .6s ease-in-out);
	@include transform(translateX(-350px));
	&.open {
		@include transform(translateX(0px));
	}
}
#hamburger-button {
	@include transition(transform .6s ease-in-out);
	&.close {
		@include transform(translateX(350px));
	}
}
#hamburger-content-wrapper {
	@include transition(transform .6s ease-in-out);
	@include transform(translateX(0));
}
html.hamburger_open {
	body:before, body:after, #hamburger-content-wrapper {
		@include transform(translateX(100px));
	}
}

// Other animations
html.slide-fixed {
	&.hamburger_open {
		body:before, body:after, #hamburger-content-wrapper {
			@include transform(none);
		}
	}
	#hamburger-content-wrapper {
//		@include transition(transform .6s ease-in-out);
		@include transform(none);
	}
}
html.slide-move-whole {
	&.hamburger_open {
		body:before, body:after, #hamburger-content-wrapper {
			@include transform(translateX(350px));
		}
	}
}


/**
 * Right side menu
 */
html.hamburger-right {
	#hamburger-menu-container {
		@include transform(translateX(350px));
		&.open {
			@include transform(translateX(0px));
		}
	}
	#hamburger-button {
		&.close {
			@include transform(translateX(-350px));
		}
	}
	&.hamburger_open {
		body:before, body:after, #hamburger-content-wrapper {
			@include transform(translateX(-100px));
		}
	}
	

	&.slide-fixed {
		&.hamburger_open {
			body:before, body:after, #hamburger-content-wrapper {
				@include transform(none);
			}
		}
	}
	&.slide-move-whole {
		&.hamburger_open {
			body:before, body:after, #hamburger-content-wrapper {
				@include transform(translateX(-350px));
			}
		}
	}
}


/**
 * Animation required styles
 */
html.hamburger_open {
	overflow-x: hidden;
}
body:before, body:after {
	@include transition(transform .6s ease-in-out);
}




/**
 * Compatibility. Since some themes use POSITION FIXED, and that doesn't play well with transforms, we provide
 * a compatibility mode. Laggy animations (since it's not GPU accelerated), but they work.
 */ 
html.hamburger-compat {
	// Animation required styles
	#hamburger-menu-container {
		@include transition(left .6s ease-in-out);
//		@include transform(translateX(-350px));
		@include transform(none);
		left: -350px;
		&.open {
//			@include transform(translateX(0px));
			@include transform(none);
			left: 0;
		}
	}
	#hamburger-content-wrapper {
		@include transition(left .6s ease-in-out);
//		@include transition(transform .6s ease-in-out);
		@include transform(translateX(0));
		@include transform(none);
		position: relative;
		left: 0;
	}
	&.hamburger_open {
		body:before, body:after, #hamburger-content-wrapper {
			@include transform(none);
			left: 100px;
//			@include transform(translateX(100px));
		}
	}

	// Other animations
	&.slide-fixed {
		&.hamburger_open {
			body:before, body:after, #hamburger-content-wrapper {
//				@include transform(translateX(0));
				@include transform(none);
				left: 0;
			}
		}
	}
	&.slide-move-whole {
		&.hamburger_open {
			body:before, body:after, #hamburger-content-wrapper {
//				@include transform(translateX(350px));
				@include transform(none);
				left: 350px;
			}
		}
	}
	
	
	&.hamburger-right {
		#hamburger-menu-container {
			@include transform(none);
			left: 350px;
			&.open {
//				@include transform(translateX(0px));
				@include transform(none);
				left: 0;
			}
		}
		&.hamburger_open {
			body:before, body:after, #hamburger-content-wrapper {
//				@include transform(translateX(-100px));
				@include transform(none);
				left: -100px;
			}
		}
	

		&.slide-fixed {
			&.hamburger_open {
				body:before, body:after, #hamburger-content-wrapper {
//					@include transform(translateX(0));
					@include transform(none);
					left: 0;
				}
			}
		}
		&.slide-move-whole {
			&.hamburger_open {
				body:before, body:after, #hamburger-content-wrapper {
//					@include transform(translateX(-350px));
					@include transform(none);
					left: -350px;
				}
			}
		}
	}
	
	/**
	 * Animation required styles
	 */
	body:before, body:after {
//		@include transition(transform .6s ease-in-out);
		@include transition(left .6s ease-in-out);
	}
}



/**
 * Fixed menu required styles
 */
html.hamburger_fixed {
	#hamburger-menu-container {
		@include transform(none);
		left: 0;
	}
	#hamburger-button {
		display: none !important;
	}
}
html.hamburger-left {
	&.hamburger_fixed {
		#hamburger-content-wrapper {
			margin-left: 350px;
		}
	}
}
html.hamburger-right {
	&.hamburger_fixed {
		#hamburger-menu-container {
			left: auto;
		}
		#hamburger-content-wrapper {
			margin-right: 350px;
		}
	}
}