$menuWidth: 350px;
body {
	position: relative !important;
}
#hamburger-menu-container {
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  height: 100vh;
  background: #34495E;
  color: #fff;
  width: 100%;
  max-width: $menuWidth;
  overflow: hidden;
  #hamburger-menu-wrapper {
    height: 100%;
    width: 100%;
    overflow: scroll;
    overflow-x: hidden;
    box-sizing: content-box;
    padding-right: 30px;
	> * {
		box-sizing: border-box;
	}
  }
  #hamburger-menu {
	  a {
		  display: block;
		  padding-left: 30px;
		  padding-right: 30px;
	  }
	  .menu-item-has-children a {
		  padding-right: 40px;
		  position: relative;
		  &:after {
			  content: '\f431';
			  position: absolute;
			  font-size: 15px;
			  display: block;
			  right: 15px;
			  top: 50%;
			  @include transform(translateY(-50%));
			  font-family: genericons;
		  }
	  }
	  > ul, > ul > li {
		  margin: 0 !important;
	  }
	  ul ul {
		  margin: 0;
	  }
	  li li a {
		  padding-left: 60px;
	  }
	  li li li a {
		  padding-left: 90px;
	  }
	  li li li li a {
		  padding-left: 120px;
	  }
  }
  #hamburger-menu-wrapper > * {
    width: $menuWidth;
    padding: 15px 0;
    &:first-child {
      padding-top: 30px;
    }
    &:last-child {
      padding-bottom: 30px;
    }
  }
  #hamburger-logo-container {
	  a {
		  display: block;
	  }
	  img {
	    margin-left: 50%;
	    @include transform(translateX(-50%));
	  }
  }
  #hamburger-social-container {
    box-sizing: border-box;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
  }
  #hamburger-widget-container {
    > * {
		margin: 0 !important;
      padding: 15px 30px;
      &:first-child {
        padding-top: 0;
      }
      &:last-child {
        padding-bottom: 0;
      }
    }
    input, textarea, iframe, embed {
      max-width: 100%;
    }
    img {
      max-width: 100%;
      height: auto;
    }
  }
  .hamburger-menu {
    padding-left: 0;
    li {
      border-top: 1px solid #2C3E50 ;
      color: #D2527F;
      &:last-child {
        border-bottom: 1px solid #2C3E50 ;
      }
    }
  }
}


.hamburger-right #hamburger-menu-container {
	left: auto;
	right: 0;
}


/**
 * Submenus
 */

#hamburger-menu-container #hamburger-menu li {
	overflow: hidden;
	> ul {
		position: absolute;
		z-index: -999;
		@include transition(height .6s ease-in-out);
	}
	ul > li:last-child {
		border-bottom: 0;
	}
}