// Animation required styles
#hamburger-menu-container {
	@include transition(transform .6s ease-in-out);
	@include transform(translateX(-350px));
}
#hamburger-menu-container.open {
	@include transform(translateX(0px));
}
#hamburger-button {
	@include transition(transform .6s ease-in-out);
}
#hamburger-button.close {
	@include transform(translateX(350px));
}
#hamburger-content-wrapper {
	@include transition(transform .6s ease-in-out);
	@include transform(translateX(0));
}
html.hamburger_open {
	body:before, body:after, #hamburger-content-wrapper {
		@include transform(translateX(100px));
	}
}

// Other animations
html.slide-fixed {
	&.hamburger_open {
		body:before, body:after, #hamburger-content-wrapper {
			@include transform(translateX(0));
		}
	}
}
html.slide-move-whole {
	&.hamburger_open {
		body:before, body:after, #hamburger-content-wrapper {
			@include transform(translateX(350px));
		}
	}
}



/**
 * Animation required styles
 */
html.hamburger_open {
	overflow-x: hidden;
}
body:before, body:after {
	@include transition(transform .6s ease-in-out);
}


/**
 * Fixed menu required styles
 */
html.hamburger_fixed {
	#hamburger-content-wrapper {
		margin-left: 350px;
	}
	#hamburger-menu-container {
		@include transform(translateX(0));
	}
	#hamburger-button {
		display: none !important;
	}
}