/**
 * Only apply these fixes if the current theme is twenty-fifteen
 */
html.hamburger_fixed {
	body:before {
		margin-left: 350px;
	}
}
@media screen and (min-width: 87.6875em) {
	html.hamburger_fixed {
		body:before {
			width: -webkit-calc(45% - 350px);
			width: calc(45% - 350px);
		}
	}
}

@media screen and (min-width: 59.6875em) {
	html.hamburger_fixed {
		body:before {
			width: 21%;
		}
	}
}