#hamburger-overlay {
	width: 0;
	height: 0;
	position: absolute;
	z-index: 99998;
	left: 0;
	top: 0;
	@include transition(opacity .4s);
	opacity: 0;
	background: #000;
	cursor: pointer;
}
.hamburger_open #hamburger-overlay {
	width: auto;
	height: auto;
	top: -100px;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 1;
}

/**
 * Make sure our overlay covers the entire body
 */
#hamburger-content-wrapper {
	position: relative;
	&:after {
		content: '';
		display: block;
		clear: both;
		position: relative;
		height: 1px;
		background: transparent;
	}
}